.component {
  background: #fff;
  dl, dt, dd, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  };
  ol, ul {
    list-style: none;
  };
  li {
    display: inline;
  }
  .func{
    text-align: center;
    dl,dd,dt{
      display: inline;
    };
    .icon1, .icon2, .icon3, .icon4 {
      display: inline-block;
      width: 45px;
      height: 45px;
      background-size: 60px;
      background-position: center center;
    };
    .icon1{
      background-image: url(../../../../assets/img/look.png);
    };
    .icon2{
      background-image: url(../../../../assets/img/VR.png);
    }
    .icon3{
     background-image: url(../../../../assets/img/calc.png);
    }
    .icon4{
      background-image: url(../../../../assets/img/service.png);
    }
  };
}
