.page {
  min-height: 100vh;
  background: #fff;
  .mask{
    position: fixedï¼›
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
}